@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s, color 0.3s;
}

body {
  /* Default (Light Mode) = Creme Background, Dark Text */
  @apply font-sans bg-[#f6f1eb] text-slate-900; 
  
  /* Dark Mode = Slate 900 Background, Light Text */
  @apply dark:bg-slate-900 dark:text-slate-100;
}